.table, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid black;
}

table {
    font-size: 11px;
}
tr,th,td {
    height:10px;
}
th {
    background-color: #ccc;
    color: black;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.table-hover > tbody > tr:hover {
    background-color: #d0e9ff !important; /*优先级最高*/
}

body {
    padding-right: 0 !important; /*解决模态框造成窗口抖动*/
}

.input-clear-a {
    color: white;
}

.input-content:hover + .input-clear-a { /*文本框的清除小图标改变颜色*/
    color: #d4d4d4;
}

.panel-heading {
    font-size: 17px;
    font-weight: bold;
}

.qq {
    display: contents;
}

.btn-primary {
    background-color: #428bca;
    border-color: #357ebd;
}
